<style type="text/css">
    .navbar {
        margin-bottom: 0 !important;
    }
    a{
        color: #FF66CC;
    }
</style>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Wishes</h1>
                    <h3>See it. Want it. Add it.</h3>
                    <hr class="intro-divider">
                    <div>
                        <h3>Start adding wishes today, <a href="#/signup">create an account</a>.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
