{% extends "base.html" %}

{% block main %}

{% raw %}
<div class="container">
    <div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading"></div>

    
    <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Userid</th>
      </tr>
    </thead>
    <tbody>
        {% for user in ulist %}
            <tr>
            <td>{{ user['username'] }}</td>
            <td><a href="{{ url_for('view_profile', userid=user['userid']) }}">{{ user['userid'] }}</a></td>
            </tr>
        {% endfor %}
        
    </tbody>
    </table>
    </div>
</div>
{% endraw %}

{% endblock %}