<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Share your wishes with friends and family</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="email" class="form-control" name="email1" data-ng-model="email1" placeholder="bestie@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email2" data-ng-model="email2" placeholder="mom@example.com">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="email" class="form-control" name="email3" data-ng-model="email3" placeholder="dad@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email4" data-ng-model="email4" placeholder="auntie@example.com">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="email" class="form-control" name="email5" data-ng-model="email5" placeholder="uncle@example.com">
                    </div>
                </div>
                <button type="button" data-ng-click="share()" class="btn btn-info"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Share Wishes</button>
            </form>
        </div>
    </div>
</div>